<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Travel Tours Travel Category Bootstrap Responsive Web Template | Home :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Travel Tours Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--// Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/Content/TravelAndTours/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/Content/TravelAndTours/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="~/Content/TravelAndTours/css/font-awesome.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->
    <!-- Web-Fonts -->
    <link href="~/Content/TravelAndTours///fonts.googleapis.com/css?family=Pacifico&amp;subset=cyrillic,latin-ext,vietnamese" rel="stylesheet">
    <link href="~/Content/TravelAndTours///fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i" rel="stylesheet">
    <link href="~/Content/TravelAndTours///fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- //Web-Fonts -->

</head>

<body>
    <!-- header -->
    <div class="header-w3l">
        <!-- navigation -->
        <div class="nav-agile">
            <nav class="navbar navbar-default">
                <div class="navbar-header logo-w3layouts">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- logo -->
                    <h1>
                        <a href="@Url.Action("Index","Home")">Travel Tours</a>
                    </h1>
                    <!-- //logo -->
                </div>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="w3l-navtop">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="@Url.Action("Index","Home")">Home</a>
                            </li>
                            <li>
                                <a href="@Url.Action("About","Home")">About</a>
                            </li>
                            <li>
                                <a href="@Url.Action("beautifultours","Home")">Tours</a>
                            </li>
                            <li>
                                <a href="@Url.Action("gallery","Home")">Gallery</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Contact","Home")">Contact</a>
                            </li>
                        </ul>
                    </div>
					<!-- social icons -->
					<div class="social-icons">
						<ul>
							<li>
								<a href="#" class="fa fa-facebook icon-border facebook"> </a>
							</li>
							<li>
								<a href="#" class="fa fa-twitter icon-border twitter"> </a>
							</li>
							<li>
								<a href="#" class="fa fa-google-plus icon-border googleplus"> </a>
							</li>
							<li>
								<a href="#" class="fa fa-rss icon-border rss"> </a>
							</li>
						</ul>
					</div>
					<!-- //social icons -->
                    <div class="clearfix"> </div>
                </div>
            </nav>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //navigation -->
    <!-- //header -->
    
        
    @RenderBody()
      
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-row w3layouts-agile">
                <div class="col-md-4 col-xs-4 footer-grids">
                    <h2>More Information</h2>
                    <p class="footer-one-w3ls">
                        This is a great you can use this space to go into a little more detail about your company. Talk about your team and
                        what services you provide.
                    </p>
                </div>
                <div class="col-md-5 col-xs-5 footer-grids w3l-agileits">
                    <h3>Newsletter</h3>
                    <p>Recieve our latest news straight to your inbox</p>
                    <form action="#" method="post">
                        <input type="email" placeholder="Email" name="email" required="">
                        <input type="submit" value="Subscribe" />
                    </form>
                </div>
                <div class="col-md-3 col-xs-3 footer-grids social-agileits">
                    <h3>Connect With Us</h3>
                    <div class="social-w3l">
                        <ul>
                            <li>
                                <a href="#" class="wthree_facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="wthree_twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="wthree_dribbble">
                                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="social-w3r">
                        <ul>
                            <li>
                                <a href="#">Facebook</a>
                            </li>
                            <li>
                                <a href="#">Twitter</a>
                            </li>
                            <li>
                                <a href="#">Dribbble</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="copy-section">
        <p>
            © 2018 Travel Tours. All rights reserved | Design by
            <a href="http://w3layouts.com">W3layouts</a>
        </p>
    </div>
    <!-- //copyright -->
    <!-- //footer -->
    <!-- Js files -->
    <!-- JavaScript -->
    <script src="~/Content/TravelAndTours/js/jquery-2.2.3.min.js"></script>
    <!-- Default-JavaScript-File -->
    <script src="~/Content/TravelAndTours/js/bootstrap.js"></script>
    <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- banner Slider -->
    <script src="~/Content/TravelAndTours/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //banner Slider -->
    <!-- flexSlider (for testimonials) -->
    <link rel="stylesheet" href="~/Content/TravelAndTours/css/flexslider.css" type="text/css" media="screen" property="" />
    <script defer src="~/Content/TravelAndTours/js/jquery.flexslider.js"></script>
    <script>
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //flexSlider (for testimonials) -->
    <!-- smooth scrolling -->
    <script src="~/Content/TravelAndTours/js/SmoothScroll.min.js"></script>
    <!-- //smooth scrolling -->
    <!-- start-smoth-scrolling -->
    <script src="~/Content/TravelAndTours/js/move-top.js"></script>
    <script src="~/Content/TravelAndTours/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- smooth scrolling-bottom-to-top -->
    <script>
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <a href="#" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>
    <!-- //smooth scrolling-bottom-to-top -->
    <!-- //Js files -->
</body>
</html>
