@model List<DMS.DAL.DatabaseContext.destination>
@*<style>
        .btn {
            max-width: 30vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            background-color: darksalmon;
            font-weight: bold;
        }

        .btnn {
            max-width: 30vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            background-color: black;
            color: white;
            height: 40px;
            font-weight: bolder;
        }
    </style>*@

<!-- banner -->
<!-- banner-slider -->
<div class="w3l_banner_info">
    <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="slider-img">
                        <div class="slider_banner_info">
                            <h4>
                                <span>Explore</span> the Distant Corners of the
                                <span>World</span>
                            </h4>
                            <p>Go, fly, roam, travel, voyage, explore, journey, discover, adventure.</p>
                            <div class="readmore-w3-agileits">
                                <a href="#" data-toggle="modal" data-target="#myModal1">Know More</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-img-2">
                        <div class="slider_banner_info">
                            <h4>
                                <span>Explore</span> the Distant Corners of the
                                <span>World</span>
                            </h4>
                            <p>Go, fly, roam, travel, voyage, explore, journey, discover, adventure.</p>
                            <div class="readmore-w3-agileits">
                                <a href="#" data-toggle="modal" data-target="#myModal1">Know More</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-img-3">
                        <div class="slider_banner_info">
                            <h4>
                                <span>Explore</span> the Distant Corners of the
                                <span>World</span>
                            </h4>
                            <p>Go, fly, roam, travel, voyage, explore, journey, discover, adventure.</p>
                            <div class="readmore-w3-agileits">
                                <a href="#" data-toggle="modal" data-target="#myModal1">Know More</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //banner-slider -->
<!-- modal (popup) -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Travel Tours</h4>
                <p>Lorem ipsum dolor sit amet</p>
                <img src="~/Content/TravelAndTours/images/3.jpg" alt="" />
                <span>
                    Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo
                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam
                    rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </span>
            </div>
        </div>
    </div>
</div>
<!-- //modal (popup) -->
<!-- //banner -->
<!-- welcome -->
<div class="welcome" id="about">
    <div class="container">
        <h3 class="title">Welcome to Our Travel Tours</h3>
        <div class="col-md-6 welcome-left">
            <h3>Traveling, Tours, Adventure.</h3>
            <h4>
                We are committed to offering travel services of the highest quality, combining our energy and enthusiasm, with our years
                of experience. Our greatest satisfaction comes in serving large numbers of satisfied clients who have experienced the
                joys and inspiration of travel.
            </h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat sit amet eros sagittis, quis hendrerit
                libero aliquam. Fusce semper augue ac dolor efficitur, a pretium metus pellentesque.
            </p>
            <div class="readmore-w3-agileits about-read">
                <a href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
            </div>
        </div>
        <div class="col-md-6 welcome-right">
            <div class="welcome-right-top">
                <img src="~/Content/TravelAndTours/images/a.jpg" alt="Beauty">
            </div>
            <div class="welcome-right-bottom">
                <img src="~/Content/TravelAndTours/images/a1.jpg" alt="Beauty">
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //welcome -->
<!-- middle section -->
<div class="middle-w3l">
    <div class="container">
        <div class="middle-left-w3l">
            <h4>Find Travel Perfection With the Professionalism of Experts</h4>
            <p>Go, fly, roam, travel, voyage, explore, journey, discover, adventure.</p>
            <div class="readmore-w3-agileits about-read">
                <a href="@Url.Action("Contact","Home")">Contact Us</a>
            </div>
        </div>
    </div>
</div>
<!-- //middle section -->
<!-- tours sectopn -->
<div class="trips-section">
    <div class="container">
        <h3 class="title">Beautiful Tours</h3>
<<<<<<< HEAD
        @foreach (var data in Model)
=======
        @*@foreach (var data in Model)
>>>>>>> 735c5f8560fc1549d52ea1787d2bef752509b4e3
        {
            <div class="col-xs-4 exce-grid1-mmstyle">
                <img src="@Url.Content(data.photo + "/"+data.photo_name) " alt="" height:300px width:300px>
                <div class="grid-ec1">
                    <h3>@(data.description) </h3>
<<<<<<< HEAD

                    @*<p>Visit sydney with us on one click</p>*@
=======
                    <p>Visit sydney with us on one click</p>
>>>>>>> 735c5f8560fc1549d52ea1787d2bef752509b4e3
                    <h4>
                        <i class="fa fa-map-marker"></i>@(data.location)
                    </h4>
                    <h4 class="w3l-name">
                        <i class="fa fa-calendar"></i>@(data.dtime)
                    </h4><br />
                    <button class="btn">Book now</button>
                </div>
                
            </div>
        }*@
        @*<div class="col-xs-4 exce-grid1-mmstyle">
<<<<<<< HEAD
                    <img src="~/Content/TravelAndTours/images/turkey.jpg" alt="">
        =======
                <div class="col-xs-4 exce-grid1-mmstyle">
                    <img src="~/Content/TravelAndTours/images/paris.jpg" alt="">
                    <div class="grid-ec1">
                        <h3>Sed ut perspiciatis unde omnis iste natus</h3>
                        <p>Dignissim elit at ligula laoreet iaculis,sed urna purus, convallis cus eget.</p>
                        <h4>
                            <i class="fa fa-map-marker"></i>laoreet sed urna purus
                        </h4>
                        <h4 class="w3l-name">
                            <i class="fa fa-calendar"></i>3 Days
                        </h4>
                        <div class="readmore-w3-agileits about-read">
                            <a href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
                        </div>
                    </div>
=======
            <img src="~/Content/TravelAndTours/images/turkey.jpg" alt="">
        <div class="col-xs-4 exce-grid1-mmstyle">
            <img src="~/Content/TravelAndTours/images/paris.jpg" alt="">
            <div class="grid-ec1">
                <h3>Sed ut perspiciatis unde omnis iste natus</h3>
                <p>Dignissim elit at ligula laoreet iaculis,sed urna purus, convallis cus eget.</p>
                <h4>
                    <i class="fa fa-map-marker"></i>laoreet sed urna purus
                </h4>
                <h4 class="w3l-name">
                    <i class="fa fa-calendar"></i>3 Days
                </h4>
                <div class="readmore-w3-agileits about-read">
                    <a href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-xs-4 exce-grid1-mmstyle">
            <img src="~/Content/TravelAndTours/images/australia.jpg" alt="">
            <div class="grid-ec1">
                <h3>Sed ut perspiciatis unde omnis iste natus</h3>
                <p>Dignissim elit at ligula laoreet iaculis,sed urna purus, convallis cus eget.</p>
                <h4>
                    <i class="fa fa-map-marker"></i>laoreet sed urna purus
                </h4>
                <h4 class="w3l-name">
                    <i class="fa fa-calendar"></i>2 Days
                </h4>
                <div class="readmore-w3-agileits about-read">
                    <a href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
>>>>>>> 735c5f8560fc1549d52ea1787d2bef752509b4e3
                </div>
                <div class="col-xs-4 exce-grid1-mmstyle">
                    <img src="~/Content/TravelAndTours/images/australia.jpg" alt="">
        >>>>>>> fc2f605fa11fa610916afe973c19bc9ebeeecfdc
                    <div class="grid-ec1">
                        <h3>Sed ut perspiciatis unde omnis iste natus</h3>
                        <p>Dignissim elit at ligula laoreet iaculis,sed urna purus, convallis cus eget.</p>
                        <h4>
                            <i class="fa fa-map-marker"></i>laoreet sed urna purus
                        </h4>
                        <h4 class="w3l-name">
                            <i class="fa fa-calendar"></i>2 Days
                        </h4>
                        <div class="readmore-w3-agileits about-read">
                            <a href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 exce-grid1-mmstyle">
                    <img src="~/Content/TravelAndTours/images/dubai.jpg" alt="">
                    <div class="grid-ec1">
                        <h3>Sed ut perspiciatis unde omnis iste natus</h3>
                        <p>Dignissim elit at ligula laoreet iaculis,sed urna purus, convallis cus eget.</p>
                        <h4>
                            <i class="fa fa-map-marker"></i>laoreet sed urna purus
                        </h4>
                        <h4 class="w3l-name">
                            <i class="fa fa-calendar"></i>6 Days
                        </h4>
                        <div class="readmore-w3-agileits about-read">
                            <a href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
                        </div>
                    </div>
                </div>*@
        <div class="clearfix"></div>
    </div>
    <div class="#">
        <a href="@Url.Action("beautifultours","Home")">Show More</a>
    </div>
</div>
<!-- //tours sectopn -->
<!-- services -->
<div class="wthree_services" id="services">
    <div class="container">
        <h3 class="title">Our Services</h3>
        <div class="col-md-4 wthree_services_left">
            <div class="col-xs-4 wthree_services_left_grid">
                <div class="wthree_services_left_grid1">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-8 wthree_services_left_grid_left">
                <h3>Travel Arrangements</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing iscing elit</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-4 wthree_services_left mid-w3l">
            <div class="col-xs-4 w3l_banner_info_left_grid">
                <div class="wthree_services_left_grid1">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-8 wthree_services_left_grid_left">
                <h3>Special Activities</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing iscing elit</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-4 wthree_services_left">
            <div class="col-xs-4 wthree_services_left_grid">
                <div class="wthree_services_left_grid1">
                    <i class="fa fa-suitcase" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-8 wthree_services_left_grid_left">
                <h3>Beautiful Places</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing iscing elit</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
        <!-- another-section -->
        <div class="wthree_about_grids">
            <div class="col-md-6 wthree_about_grid_right">
                <iframe src="https://player.vimeo.com/video/71319358?badge=0"></iframe>
            </div>
            <div class="col-md-6 wthree_about_grid_left">
                <h3>Most Popular</h3>
                <p>
                    Fusce semper, nibh eu sollicitudin imperdiet, dolor magna vestibulum mi, vel tincidunt augue ipsum nec erat. Vestibulum
                    congue leo elementum ullamcorper commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos.
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //another-section -->
    </div>
</div>
<!-- //services -->
<!-- testimonials -->
<div class="testimonials">
    <div class="container">
        <h3 class="title">What Out Clients Says</h3>
        <div class="w3_testimonials_grids">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="w3_testimonials_grid">
                                <img src="~/Content/TravelAndTours/images/te1.jpg" alt=" " class="img-responsive" />
                                <h4>
                                    <i>
                                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod possimus, omnis voluptas.
                                    </i>
                                </h4>
                                <h5>John Frank</h5>
                                <p>Tempore Quo</p>
                            </div>
                        </li>
                        <li>
                            <div class="w3_testimonials_grid">
                                <img src="~/Content/TravelAndTours/images/te2.jpg" alt=" " class="img-responsive" />
                                <h4>
                                    <i>
                                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod possimus, omnis voluptas.

                                    </i>
                                </h4>
                                <h5>Michael Doe</h5>
                                <p>Maxime Omni</p>
                            </div>
                        </li>
                        <li>
                            <div class="w3_testimonials_grid">
                                <img src="~/Content/TravelAndTours/images/te3.jpg" alt=" " class="img-responsive" />
                                <h4>
                                    <i>
                                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod possimus, omnis voluptas.

                                    </i>
                                </h4>
                                <h5>Thomas Carl</h5>
                                <p>Placeat Quo</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

        </div>
    </div>
</div>
<!-- //testimonials -->
<a href="@Url.Action("index","admin")">go to admin page </a>
