@model List<DMS.DAL.DatabaseContext.destination>

@{
    ViewBag.Title = "index";
    int id = 0;
    Layout = "~/Views/Shared/adminlayout.cshtml";
}

<aside>
    <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-th"></i>
                        <span>Data Tables</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("index","Adddestination")">Add Tour Records</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-glass"></i>
                        <span>Gallery</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("index","Gallery")">Gallery</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</aside>

<section id="main-content">
    <section class="wrapper">
        <div class="row form-group" style="margin-top:150px;">
            <h2>Index</h2>
            <a href="@Url.Action("items","Adddestination")">Add a new record</a>

            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Photo</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @foreach (var data in Model)
                {
                    <tr>
                        <td>@(++id)</td>
                        <td>@(data.dname)</td>
                        <td>@(data.dtime)</td>
                        <td>@(data.location)</td>
                        <td>@(data.description)</td>
                        <td>
                            <img src="@Url.Content(data.photo+"/"+data.photo_name)" height="200" width="200" />
                        </td>
                        <td><a href="@Url.Action("edit",new {id = data.id})">Edit</a></td>
                        <td><a href="@Url.Action("deletedata",new {id = data.id})">Delete</a></td>
                    </tr>
                }
            </table>

        </div>
    </section>
</section>